<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <title><%= title %></title>
    
  </head>
  <body>
  	
  	<div id="row">
  		<div id="col-one">
  			<div id="container">
	  			<div id="panel-one">
	  				<h3>My Profile</h3>
	  			</div>
	  			<div id="content-one">
	  				<p>Content</p>
	  			</div>
  			</div>
  		</div>
  		<div id="col-two">
  			<h3>Column two</h3>
  		</div>
  	</div>
  </body>
</html>
