<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <title><%= title %></title>
    
  </head>
  <body>
  	
  	<div id="row">
  		<div id="col-one">
  			<div id="container">
	  			<div id="panel-one">
	  				<h3>My Profile</h3>
	  			</div>
	  			<div id="content-one">
	  				<p>Content</p>
	  			</div>
  			</div>
  		</div>
  		<div id="col-two">
  			<div id="main">
  				<h3><%= title %></h3>
  			</div>
  			<div id="card">
  				<div id="picture">
  					<h4>Image</h4>
  				</div>
  				<div id="bio">
  					<h4><%= name %></h4>
  				</div>
  			</div>
  		</div>
  	</div>
  </body>
</html>
