<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <title><%= title %></title>
    
  </head>
  <body>
  	
  	<div id="row">
  		<div id="col-one">
  			<div id="container">
	  			<div id="panel-one">
	  				<h3>My Profile</h3>
	  			</div>
	  			<div id="content-one">
	  				<p>Content</p>
	  			</div>
  			</div>
  		</div>
  		<div id="col-two">
  			<div id="main">
  				<h3><%= title %></h3>
  			</div>
  			<div id="card">
  				<div id="picture">
					  <h4>Image</h4>
					  <img src = "image.jpg" alt = "image" height = "200" width = "280">
  				</div>
  				<div id="bio">
					  <h4>Name: <%= name %></h4>
					  <h4>Bio:  <%= bio  %></h4>
  				</div>
  			</div>
			 <div id = "for-buttons1"> 
			  <button type = "button">Right</button>
			</div> 
			<div id = "for-buttons2">
				<button type = "button">Left</button>
			</div>
		</div>
  	</div>
  </body>
</html>
