body {
	color: white;
  	font-family: "Calibri";
  	background-color: #f7f7f7;
  	margin: 0;
	padding: 0 0 80px 0;  
	height: 100%;
	background: rgb(253,41,123);
	background: linear-gradient(0deg, rgba(253,41,123,1) 0%, rgba(255,88,100,1) 49%, rgba(255,101,91,1) 100%);
}

#row {
	width: 100%;
	height: 100%;
	display: inline-block;
}

#row div {
	display: inline-block;
}

#col-one {
	display: inline-block;
	float: left;
	padding: 45px 16px 5px 16px;
	width: 20%;
	margin: 0 10px 5px 0;
	min-height: 520px;
	height: auto !important;
	height: 100%;
	border: solid black 0.5px;
	border-radius: 5px;
	box-shadow: black 1px 1px 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-width: 1px;
}

#container {
	margin: 5px 0 0 0;
	height: 99%;
	width: 100%;
}

#panel-one {
	margin: 0;
	color: white;
	text-align: center;
	width: 90%;
	padding: 5px 4%;
	height: 10%;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: solid black 1px;
	border-bottom-width: 0.5px;
	box-shadow: black 1px 1px 2px;
	background-color: #212121;
}

#panel-one:hover {
	background-color: #666;
}

#content-one {
	margin: 0;
	width: 90%;
	padding: 5px 4%;
	background-color: white;
	color: black;
	min-height: 400px;
	height: 72%;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border: solid black 1px;
	border-top-width: 0.5px;
	box-shadow: black 1px 1px 2px;
}

#col-two {
	display: inline-block;
	margin: 0 5%;
	width: 60%;
}

#main {
	width: 100%;
	padding: 0 5%;
	color: black;
	#background: rgb(100,102,107);
	#background: radial-gradient(circle, rgba(100,102,107,0.9084676106770834) 0%, rgba(184,159,164,0.8664508039543942) 100%);
	border: 1px solid black;
	border-top-width: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: black 0.5px 0.5px 4px;
	background-color: #f7f7f7;
}

#card {
	clear: both;
	padding: 2%;
	margin: 1% 34.5% 0% 32.5%;
	float: none;
	width: 35%;
	background-color: #f7f7f7;
	min-height: 300px;
	height: 100%;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: black 0.5px 0.5px 5px;
}

#picture {
	overflow: hidden;
	background-color: white;
	clear: both;
	padding: 2% 3%;
	margin: 4% 5%;
	width: 84%;
	height: 70%;
	min-height: 200px;
	border: black 0.5px solid;
	border-radius: 5px;
	box-shadow: black 0.5px 0.5px 3px;
}

#bio {
	color: black;
	width: 84%;
	padding: 2% 3%;
	margin: 4% 5% 4% 5%;
	border: 0.5px black solid;
	background-color: white;
	border-radius: 5px;
	box-shadow: black 0.5px 0.5px 3px;
}
#for-button1 {
	float: right;
	#display: inline-block;
}
#for-button2 {
	float: left;
}

#button1 {
	font-weight: bold;
	padding: 10px 20px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: black 0.5px 0.5px 3px;
}

#button2 {
	font-weight: bold;
	padding: 10px 20px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: black 0.5px 0.5px 3px;
}

#button1:hover {
	background-color: lime
}

#button2:hover {
	background-color: red;
}

#col-one div {
	display: inline-block;
}

#col-two div {
	display: inline-block;
}

footer {
	height: 0;
}